$background: rgb(7, 21, 32);
$primary: #47e0bf;
$primary_var: #00b381;
$secondary: rgb(149, 173, 192);
$secondary_var: rgb(174, 216, 250);

* {
    box-sizing: border-box;
    font-family:sans-serif;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap:2em;
    background-image: linear-gradient($background, rgba($background, 0));
    align-items: center;
    li {
        display: inline;
    }
    a {
        padding: 1.1em;
        color: $secondary;
        text-decoration: none;
        font-size: 1.1em;
        font-weight:500;
        &:hover {
            color:$primary
        }
    }
    #dp {
        margin-right: auto;
    }
}

body {
    margin-top: 5em;
    background-color: $background;
}

h1 {
    color: $primary;
}

h2 {
    color: $secondary;
}

h3{
    color: $primary_var
}

p {
    color: $secondary
}